In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
train_file = pd.read_json("data/pii-detection-removal-from-educational-data/train.json")

In [5]:
train_file.columns

Index(['document', 'full_text', 'tokens', 'trailing_whitespace', 'labels'], dtype='object')

In [8]:
len(train_file['document'].unique())

6807

In [11]:
train_file['labels']

0       [O, O, O, O, O, O, O, O, O, B-NAME_STUDENT, I-...
1       [B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O...
2       [O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT, O...
3       [O, O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT...
4       [O, O, O, O, O, O, O, O, O, O, O, O, B-NAME_ST...
                              ...
6802    [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
6803    [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
6804    [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
6805    [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
6806    [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...
Name: labels, Length: 6807, dtype: object

In [28]:
label_array = pd.DataFrame(train_file['labels'].apply(np.array))
label_array['length'] = train_file['labels'].apply(np.array).apply(len)
label_array['length']

                                                 labels  length
0     [O, O, O, O, O, O, O, O, O, B-NAME_STUDENT, I-...     753
1     [B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O...     563
2     [O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT, O...     729
3     [O, O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT...    1071
4     [O, O, O, O, O, O, O, O, O, O, O, O, B-NAME_ST...    1927
...                                                 ...     ...
6802  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...     601
6803  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...     433
6804  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...     633
6805  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...     679
6806  [O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...     820

[6807 rows x 2 columns]

In [45]:
for i in range(100):
    print(i,' ',np.unique(label_array['labels'].iloc[i]))

0   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
1   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
2   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
3   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
4   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
5   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
6   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
7   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
8   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
9   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
10   ['B-NAME_STUDENT' 'O']
11   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
12   ['B-NAME_STUDENT' 'O']
13   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
14   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
15   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
16   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
17   ['B-URL_PERSONAL' 'O']
18   ['B-NAME_STUDENT' 'O']
19   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
20   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
21   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
22   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
23   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
24   ['B-EMAIL' 'B-NAME_STUDENT' 'B-URL_PERSONAL' 'I-NAME_STUDENT' 'O']
25   ['B-NAME_STUDENT' 'O']
26   ['B-NAME_STUDENT' 'B-URL_PERSONAL' 'I-NAME_STUDENT' 'O']
27   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
28   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
29   ['B-ID_NUM' 'B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
30   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
31   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
32   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
33   ['B-NAME_STUDENT' 'O']
34   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
35   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
36   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
37   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
38   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
39   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
40   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
41   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
42   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
43   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
44   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
45   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
46   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
47   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
48   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
49   ['B-URL_PERSONAL' 'O']
50   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
51   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
52   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
53   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
54   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
55   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
56   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
57   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
58   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
59   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
60   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
61   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
62   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
63   ['B-NAME_STUDENT' 'O']
64   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
65   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
66   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
67   ['B-NAME_STUDENT' 'B-URL_PERSONAL' 'I-NAME_STUDENT' 'O']
68   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
69   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
70   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
71   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
72   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
73   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
74   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
75   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
76   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
77   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
78   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
79   ['B-NAME_STUDENT' 'B-URL_PERSONAL' 'I-NAME_STUDENT' 'O']
80   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
81   ['B-URL_PERSONAL' 'O']
82   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
83   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
84   ['B-NAME_STUDENT' 'O']
85   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
86   ['B-EMAIL' 'B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
87   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
88   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
89   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
90   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
91   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
92   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
93   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
94   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
95   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
96   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
97   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
98   ['B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']
99   ['B-ID_NUM' 'B-NAME_STUDENT' 'I-NAME_STUDENT' 'O']

In [34]:
token_array = pd.DataFrame(train_file['tokens'].apply(np.array))
token_array['length'] = train_file['tokens'].apply(np.array).apply(len)
token_array['length']

0        753
1        563
2        729
3       1071
4       1927
        ...
6802     601
6803     433
6804     633
6805     679
6806     820
Name: length, Length: 6807, dtype: int64

In [38]:
token_array['tokens'].iloc[0][9]

'Nathalie'

Looks like we have a bunch of words that have some personal information and we need to identify the personal information.
I'm going to plug in some functions looking for